.card-list__container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 24px;
}

.card-item__price {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
}

.card-item__description {
    width: 100%;
    text-overflow: ellipsis;
    margin-top: 5px;
    font-size: 12px;
    text-align: start;
    min-height: 18px;
}

.card-item__container {
    flex: 1 1 30%;
    box-sizing: border-box;
    padding: 10px;
    gap: 8px;
}

.ant-card {
    min-width: none;
    max-width: 30%;
    margin: 0 6px;
    margin-bottom: 12px;
}